*CSS Reset*/
*{
    margin:0;
    padding:0;
}
#b{
    margin: 0%;
    
}
.b1{
    margin-left: 0px;
    margin-right: 0px;

}
#new{
    height:140px;
    background-color: #292929;
}
#leftbox1 {
    float:left; 
    color: #FFFFFF;
    background:#292929;
    width:60%;
    height:400px;
    
}
#middlebox1{
    float:left; 
    background-color: #292929;
    width:20%;
    height:400px;   
}
#middlebox1 ul{
    color:#FFFFFF;
    margin-top: 130px;
   background-color: #292929;
    text-align:center;
    font-size: 30px;;
}
#middlebox1 ul li{
    list-style: none;
    padding-bottom: 3px;
}
#rightbox1{
    float:right;
    background-color: #292929;
    width:20%;
    height:400px;
}
#rightbox1 ul{
    color: #FFFFFF;
    margin-top: 130px;
    text-align:center;
    font-size: 30px;
}
#rightbox1 ul li{
    list-style: none;
    padding-bottom: 3px;
}
h1{
    color:green;
    text-align:center;
}
.a{
    margin-top: 60px;
    padding-left: 70px;
    
}
.b1{
    width:260px;
}



#leftbox {
    float:left; 
    background-color:#111111;
    width:70%;
    height:600px;
}
#leftbox p{
    color: #FFFFFF;
 margin-top: 40px;
 margin-left: 20px;
 font-size: 16px;
}
/*#middlebox{
    float:left; 
    background-color: #111111;
    width:15%;
    height:600px;
}*/
#rightbox{
    float:right;
    background-color: #111111;
    width:30%;
    height:600px;
}
#rightbox li{
    text-align: end;
    margin-right: 130px;
    padding-top: 20px;
}
#rightbox ul li{
    color: #FFFFFF;
list-style: none;
}
#rightbox {
    color:#FFFFFF; text-align: end;
    
    
}
h1{
    color:green;
    text-align:center;
}
.a{
    margin-top: 40px;
    font-size: 20px;
    font-weight: bolder;
}
.a1{
    margin-top: 5px;;
}
.a2{
    height: 300px;
    width: 350px;
}
#leftbox img{
    margin-top: 20px;
 margin-left: 20px;
}
#new{
  padding-top: 40px;
  color:#FFFFFF;
}
#new img{
    padding-left: 10px;
    padding-right: 20px;
}
.i{
    padding-bottom: 5px;width:60%;
}
.e{
    background-color:#111111;padding-left:30px;
    align-items: end;
}
.f{
    padding-left: 20px;
}
.k{
    font-size: 20px;
    color: white;
}